#container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

header{
    margin-bottom:20px;
}

#chat-icon {
    margin: 5%;
}

#img1 {
    float:left;
    width:80%;
}

#img2 {
    float:right;
    width:50%;
    margin-right:10%;
}